<!-- Extend the base template -->
{% extends "base.html" %}
<!-- Load the static files -->
{% load static %}
<!-- Load the css file -->
{% block extra_css %}
<link rel="stylesheet" href="{% static 'review/css/create_review.css' %}" />
{% endblock %}
<!-- Add block for content -->
{% block content %}
<div class="container">
  <h2 class="review-title">Create Review</h2>
  <div class="review-form">
    <form action="{% url 'create_review' product_name %}" method="post">
      <!-- prettier-ignore -->
      {% csrf_token %}
      {{ form.as_p }}
      <br />
      <input type="submit" class="btn btn-primary" value="Add Review" />
    </form>
  </div>
</div>
{% endblock %}
