{% block extra_css %} {% endblock %}
<!-- Add block for content -->
{% block content %}
<div class="container">
  <h2 class="review-title">Create Review</h2>
  <div class="review-form">
    <form action="{% url 'create_review' %}" method="post">
      {% csrf_token %}
      <label for="comment">Review</label>
      <textarea
        name="comment"
        id="comment"
        cols="20"
        rows="10"
        class="form-control"
      ></textarea>
      <label for="rating">Rating</label>
      <input type="text" name="rating" class="form-control" />
    </form>
    <br />
    <input type="submit" class="btn btn-primary" value="Add Review" />
  </div>
</div>
{% endblock %}
