<!-- Extend the base template -->
{% extends "base.html" %}
<!-- Load the static files -->
{% load static %}
<!-- Load the css file -->
{% block extra_css %}
<link rel="stylesheet" href="{% static 'review/css/create_review.css' %}" />
{% endblock %}
<!-- Add block for content -->
{% block content %}
<div class="container">
  <div class="row empty"></div>
</div>
<div class="container">
  <div class="row">
    <div class="col xl12 center-align">
      <h2 class="review-title col xl12 push-m3">Create Review</h2>
      <div class="review-form col xl12 push-xl2 push-m3">
        <form action="{% url 'create_review' product_name %}" method="post">
          <!-- prettier-ignore -->
          {% csrf_token %}
          {{ form.as_p }}
          <br />
          <input
            type="submit"
            class="light-green btn btn-primary"
            value="Add Review"
          />
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
