<!-- Extend the base template -->
{% extends "base.html" %}
<!-- Load the static files -->
{% load static %}
<!-- Load extra css -->
{% block extra_css %}
<link rel="stylesheet" href="{% static 'profile/css/profile.css' %}" />
{% endblock %}
<!-- Add block for content -->
{% block content %}

<div class="container">
  <div class="row empty"></div>
</div>
<div class="container profile-container">
  <div class="row">
    <div class="col xl16 m3 push-xl4">
      <h4 class="center-align">Your Account</h4>
    </div>
  </div>
  <div class="row">
    <div class="col xl16 m3 push-xl4 mb-5">
      <small>Default Delivery Information</small>
      <form action="{% url 'profile' %}" method="POST" id="profile-update-form">
        <!-- prettier-ignore -->
        {% csrf_token %}
        {{ form|crispy }}
        <button class="waves-effect waves-light btn">Update</button>
      </form>
    </div>
    <div class="col">
      <small>Order History</small>
      {{ orders }}
    </div>
  </div>
</div>
<!-- prettier-ignore -->
{{ profile }}
 {% endblock %} 
 {% block extra_js %} 
 {% endblock %}
