<!-- Extend the base template -->
{% extends "base.html" %}
<!-- Load the static files -->
{% load static %}
<!-- Load extra css -->
{% block extra_css %}
<link rel="stylesheet" href="{% static 'profile/css/profile.css' %}" />
{% endblock %}
<!-- Add block for content -->
{% block content %}

<div class="container">
  <div class="row empty"></div>
</div>
<div class="container profile-container">
  <div class="row">
    <div class="col xl16 m3 push-xl4">
      <h4 class="center-align">Your Account</h4>
    </div>
  </div>
  <div class="row">
    <div class="col xl6 l6 m3 s3">
      <small>Default Delivery Information</small>
      <form action="{% url 'profile' %}" method="POST" id="profile-update-form">
        <!-- prettier-ignore -->
        {% csrf_token %}
        {{ form|crispy }}
        <button class="waves-effect waves-light btn">Update</button>
      </form>
    </div>
  </div>
  <div class="row">
        <div class="col xl6 l6 m12 s12"> 
      <table class="order-history striped table">
        <small>Order History</small>
        <thead>
          <th>Order Number</th>
          <th>Date</th>
          <th>Items</th>
          <th>Order Total</th>
        </thead>
        <tbody>
          {% for order in orders %}
            <tr>
              <td>
                <a href="{% url 'order_history' order.order_number %}"
                title="{{ order.order_number }}">
                    {{ order.order_number|truncatechars:6 }}
                </a>
              </td>
              <td>{{ order.date }}</td>
              <td>
                <ul class="list-unstyled">
                    {% for item in order.lineitems.all %}
                        <li class="small">
                          {{ item.quantity }} x {{ item.product.name }}
                        </li>
                    {% endfor %}
                </ul>
              </td>
              <td>${{ order.total }}</td>
            </tr>
          {% endfor %}
        </tbody>
    </div>
  </div>
</div>
<!-- prettier-ignore -->
{% endblock %} 
{% block extra_js %} 
{% endblock %}
