.blog-frame {
  margin: 10px;
  max-width: 480px;
}

.blog-title {
  font-size: 2rem;
  font-family: "Architects Daughter", cursive;
  margin: 10px;
}

.blog-image {
  max-width: 480px;
}

.blog-body {
  font-weight: 600;
}
