<!-- Extend the base template -->
{% extends "base.html" %}
<!-- Load the static files -->
{% load static %}
<!-- Load JS -->
{% block postloadjs %}
<!-- . -->
{{ block.super }}
<!-- Load Javascript for blog admin -->
<script src="{% static 'blog/js/toggleBlogAdmin.js' %}"></script>
{% endblock %}
<!-- Load extra css -->
{% block extra_css %}
<link rel="stylesheet" href="{% static 'blog/css/blog.css' %}" />
{% endblock %}
<!-- Block for main content -->
{% block content %}
<div class="container">
  <div class="row empty"></div>
</div>
<div class="container">
  <div class="row">
    <div class="col xl12 center-align">
      <h4 class="blog-heading">Welcome to the greenhouse blog!</h4>
      <p class="blog-text">
        Here we post updates on what's going on at the restaurant.
      </p>
      <!-- If the user is logged in -->
      {% if user.is_authenticated %}
      <!-- If the user is a superuser -->
      {% if user.is_superuser %}
      <button
        class="toggle-admin waves-effect waves-light btn light-green"
        onclick="toggleBlogAdmin()"
      >
        Show/Hide Blog Admin
      </button>
      <div id="blogAdmin">
        <h6 class="blog-heading blog-admin">Post a Blog</h6>
        <form
          class="form blog-form"
          method="POST"
          action="{% url 'blog' %}"
          enctype="multipart/form-data"
        >
          {% csrf_token %}
          <!-- Render blog Form -->
          {{ form.as_p }}
          <button
            type="submit"
            class="
              col
              xl2
              l2
              m4
              s4
              push-xl5 push-l5 push-m4 push-s4
              waves-effect waves-light
              btn
              light-green
            "
          >
            SUBMIT
          </button>
        </form>
      </div>
      {% endif %}
      <!-- . -->
      {% endif %}
    </div>
  </div>
</div>
<!-- Get all blog posts -->
{% for post in posts %}
<div class="container">
  <div class="row">
    <div class="blog-frame col xl12 center-align">
      <p class="blog-title">{{post.title}}</p>
      <img class="blog-image" src="../../../{{post.image}}" alt="blog image" />
      <p class="blog-body">{{post.body}}</p>
      <small class="posted-on">Posted on: {{post.publish_date}}</small>
      <!-- If the user is logged in -->
      {% if user.is_authenticated %}
      <!-- If the user is a superuser -->
      {% if user.is_superuser %}
      <br />
      <!-- Edit Blog Post -->
      <a
        class="waves-effect waves-light btn light-green edit-post"
        href="{% url 'edit_blog_post' post.id %}"
        >Edit</a
      >
      <!-- Delete Blog Post -->
      <form action="{% url 'remove_blog_post' post.id %}" method="post">
        {% csrf_token %}
        <button
          class="waves-effect waves-light btn light-green remove-post"
          type="submit"
          value="Delete Post"
        >
          DELETE
        </button>
      </form>
      {% endif %}
      <!-- . -->
      {% endif %}
    </div>
  </div>
</div>
{% endfor %}
<!-- . -->
{% endblock %}
