<!-- Extend the base template -->
{% extends "base.html" %}
<!-- Load the static files -->
{% load static %}
<!-- Load extra css -->
{% block extra_css %}
<link rel="stylesheet" href="{% static 'blog/css/blog.css' %}" />
{% endblock %}
<!-- Block for main content -->
{% block content %}
<!-- Get all blog posts -->

<div class="container">
  <div class="row empty"></div>
</div>
<div class="container">
  <div class="row">
    <div class="col xl12 center-align">
      <h4 class="blog-heading">Welcome to the greenhouse blog!</h4>
      <p class="blog-text">
        Here we post updates on what's going on at the restaurant.
      </p>
      <!-- If the user is logged in -->
      {% if user.is_authenticated %}
      <!-- If the user is a superuser -->
      {% if user.is_superuser %}
      <h6 class="blog-heading blog-admin">Post a Blog</h6>
      <form
        class="form blog-form"
        method="POST"
        action="{% url 'blog' %}"
        enctype="multipart/form-data"
      >
        {% csrf_token %}
        <!-- Render blog Form -->
        {{ form.as_p }}
        <button
          type="submit"
          class="
            col
            xl2
            l2
            m4
            s4
            push-xl5 push-l5 push-m4 push-s4
            waves-effect waves-light
            btn
            light-green
          "
        >
          SUBMIT
        </button>
      </form>
      {% endif %}
      <!-- . -->
      {% endif %}
    </div>
  </div>
</div>
{% for post in posts %}
<div class="container">
  <div class="row">
    <div class="blog-frame col xl12 center-align">
      <p class="blog-title">{{post.title}}</p>
      <img class="blog-image" src="../../../{{post.image}}" />
      <p class="blog-body">{{post.body}}</p>
      <small class="posted-on">Posted on: {{post.publish_date}}</small>
    </div>
  </div>
</div>
{% endfor %}
<!-- . -->
{% endblock %}
