<!-- Extend the base template -->
{% extends "base.html" %}
<!-- Load the static files -->
{% load static %}
<!-- Add block for content -->
{% block content %}

<div class="container">
  <div class="row empty"></div>
</div>
<div class="center-align menu-container">
  <div class="container">
    <div class="menu">
      <!-- Veggie Burgers -->
      <h3 class="menu-title">Veggie Burgers</h3>
      <br />
      {% for burger in burgers %}
      <div class="burgers">
        <p class="menu-name">{{ burger.name }}</p>
        <p class="menu-price">{{ burger.price }} €</p>
        <p class="menu-ingredients">{{ burger.ingredients }}</p>
        <form action="{% url 'add_to_bag' burger.id %}" method="POST">
          {% csrf_token %}
          <input type="hidden" name="redirect_url" value="{{ request.path }}" />
          <button type="submit" class="menu-btn btn waves-effect waves-ligh">
            Add To Bag
          </button>
        </form>
        <br />
      </div>
      {% endfor %}
      <!-- Pizzas -->
      <h3 class="menu-title">Pizzas</h3>
      {% for pizza in pizzas %}
      <div class="pizzas">
        <p class="menu-name">{{ pizza.name }}</p>
        <p class="menu-price">{{ pizza.price }} €</p>
        <p class="menu-ingredients">{{ pizza.ingredients }}</p>
        <form action="{% url 'add_to_bag' pizza.id %}" method="POST">
          {% csrf_token %}
          <input type="hidden" name="redirect_url" value="{{ request.path }}" />
          <button type="submit" class="menu-btn btn waves-effect waves-ligh">
            Add To Bag
          </button>
        </form>
        <br />
      </div>
      {% endfor %}
      <!-- Buddha Bowls -->
      <h3 class="menu-title">Buddha Bowls</h3>
      {% for bowl in bowls %}
      <div class="burgers">
        <p class="menu-name">{{ bowl.name }}</p>
        <p class="menu-price">{{ bowl.price }} €</p>
        <p class="menu-ingredients">{{ bowl.ingredients }}</p>
        <form action="{% url 'add_to_bag' bowl.id %}" method="POST">
          {% csrf_token %}
          <input type="hidden" name="redirect_url" value="{{ request.path }}" />
          <button type="submit" class="menu-btn btn waves-effect waves-ligh">
            Add To Bag
          </button>
        </form>
        <br />
      </div>
      {% endfor %}
      <!-- Drinks -->
      <h3 class="menu-title">Drinks</h3>
      {% for drink in drinks %}
      <div class="drinks">
        <p class="menu-name">{{ drink.name }}</p>
        <p class="menu-price">{{ drink.price }} €</p>
        <p class="menu-ingredients">{{ drink.ingredients }}</p>
        <form action="{% url 'add_to_bag' drink.id %}" method="POST">
          {% csrf_token %}
          <input type="hidden" name="redirect_url" value="{{ request.path }}" />
          <button type="submit" class="menu-btn btn waves-effect waves-ligh">
            Add To Bag
          </button>
        </form>
        <br />
      </div>
      {% endfor %}
      <!-- Desserts -->
      <h3 class="menu-title">Desserts</h3>
      {% for dessert in desserts %}
      <div class="desserts">
        <p class="menu-name">{{ dessert.name }}</p>
        <p class="menu-price">{{ dessert.price }} €</p>
        <p class="menu-ingredients">{{ dessert.ingredients }}</p>
        <form action="{% url 'add_to_bag' dessert.id %}" method="POST">
          {% csrf_token %}
          <input type="hidden" name="redirect_url" value="{{ request.path }}" />
          <button type="submit" class="menu-btn btn waves-effect waves-ligh">
            Add To Bag
          </button>
        </form>
        <br />
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %} {% block extra_js %} {% endblock %}
