<!-- Extend the base template -->
{% extends "base.html" %}
<!-- Load the static files -->
{% load static %}
<!-- Load extra css -->
{% block extra_css %}
<link rel="stylesheet" href="{% static 'menu/css/menu.css' %}" />
{% endblock %}
<!-- Add block for content -->
{% block content %}

<div class="container">
  <div class="row empty"></div>
</div>
<div class="center-align menu-container">
  <div class="container">
    <div class="menu">
      <!-- Veggie Burgers -->
      <i class="menu-icon fas fa-hamburger fa-5x"></i>
      <br />
      <small>Veggie burgers</small>
      <br />
      {% for burger in burgers %}
      <br />
      <div class="burgers">
        <p class="menu-name">{{ burger.name }}</p>
        <p class="menu-ingredients">{{ burger.ingredients }}</p>
        <p class="menu-price">{{ burger.price }} €</p>
        <form action="{% url 'add_to_bag' burger.id %}" method="POST">
          {% csrf_token %}
          <input type="hidden" name="redirect_url" value="{{ request.path }}" />
          <button
            type="submit"
            class="menu-btn btn waves-effect waves-light light-green"
          >
            Add To Bag
          </button>
        </form>
        <br />
      </div>
      {% endfor %}
      <!-- Pizzas -->
      <i class="menu-icon fas fa-pizza-slice fa-5x"></i>
      <br />
      <small>Pizzas</small>
      <br />
      {% for pizza in pizzas %}
      <br />
      <div class="pizzas">
        <p class="menu-name">{{ pizza.name }}</p>
        <p class="menu-ingredients">{{ pizza.ingredients }}</p>
        <p class="menu-price">{{ pizza.price }} €</p>
        <form action="{% url 'add_to_bag' pizza.id %}" method="POST">
          {% csrf_token %}
          <input type="hidden" name="redirect_url" value="{{ request.path }}" />
          <button
            type="submit"
            class="menu-btn btn waves-effect waves-light light-green"
          >
            Add To Bag
          </button>
        </form>
        <br />
      </div>
      {% endfor %}
      <!-- Buddha Bowls -->
      <i class="menu-icon fas fa-vihara fa-5x"></i>
      <br />
      <small>Buddha Bowls</small>

      <br />
      {% for bowl in bowls %}
      <br />
      <div class="bowls">
        <p class="menu-name">{{ bowl.name }}</p>
        <p class="menu-ingredients">{{ bowl.ingredients }}</p>
        <p class="menu-price">{{ bowl.price }} €</p>
        <form action="{% url 'add_to_bag' bowl.id %}" method="POST">
          {% csrf_token %}
          <input type="hidden" name="redirect_url" value="{{ request.path }}" />
          <button
            type="submit"
            class="menu-btn btn waves-effect waves-light light-green"
          >
            Add To Bag
          </button>
        </form>
        <br />
      </div>
      {% endfor %}
      <!-- Desserts -->
      <i class="menu-icon fas fa-ice-cream fa-5x"></i>
      <br />
      <small>Desserts</small>
      <br />
      {% for dessert in desserts %}
      <br />
      <div class="desserts">
        <p class="menu-name">{{ dessert.name }}</p>
        <p class="menu-ingredients">{{ dessert.ingredients }}</p>
        <p class="menu-price">{{ dessert.price }} €</p>
        <form action="{% url 'add_to_bag' dessert.id %}" method="POST">
          {% csrf_token %}
          <input type="hidden" name="redirect_url" value="{{ request.path }}" />
          <button
            type="submit"
            class="menu-btn btn waves-effect waves-light light-green"
          >
            Add To Bag
          </button>
        </form>
        <br />
      </div>
      {% endfor %}
      <!-- Drinks -->
      <i class="menu-icon fas fa-glass-martini-alt fa-5x"></i>
      <br />
      <small>Drinks</small>
      <br />
      {% for drink in drinks %}
      <br />
      <div class="drinks">
        <p class="menu-name">{{ drink.name }}</p>
        <p class="menu-ingredients">{{ drink.ingredients }}</p>
        <p class="menu-price">{{ drink.price }} €</p>
        <form action="{% url 'add_to_bag' drink.id %}" method="POST">
          {% csrf_token %}
          <input type="hidden" name="redirect_url" value="{{ request.path }}" />
          <button
            type="submit"
            class="menu-btn btn waves-effect waves-light light-green"
          >
            Add To Bag
          </button>
        </form>
        <br />
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %} {% block extra_js %} {% endblock %}
