<!-- Extend the base template -->
{% extends "base.html" %}
<!-- Load the static files -->
{% load static %}
<!-- Add block for content -->
{% block content %}

<div class="container">
  <div class="row empty"></div>
</div>
<div class="container menu-container">
  <div class="row">
    <div class="col menu">
      <!-- Veggie Burgers -->
      <h3 class="menu-title">Veggie Burgers</h3>
      {% for burger in burgers %}
      <div class="burgers">
        <div class="name">{{ burger.name }}</div>
        <div class="ingredients">{{ burger.ingredients }}</div>
        <div class="price">{{ burger.price }}</div>
      </div>
      {% endfor %}
      <!-- Pizzas -->
      <h3 class="menu-title">Pizzas</h3>
      {% for pizza in pizzas %}
      <div class="pizzas">
        <div class="name">{{ pizza.name }}</div>
        <div class="ingredients">{{ pizza.ingredients }}</div>
        <div class="price">{{ pizza.price }} Eur</div>
      </div>
      {% endfor %}
      <!-- Buddha Bowls -->
      <h3 class="menu-title">Buddha Bowls</h3>
      {% for bowl in bowls %}
      <div class="bowls">
        <div class="name">{{ bowl.name }}</div>
        <div class="ingredients">{{ bowl.ingredients }}</div>
        <div class="price">{{ bowl.price }}</div>
      </div>
      {% endfor %}
      <!-- Drinks -->
      <h3 class="menu-title">Drinks</h3>
      {% for drink in drinks %}
      <div class="drinks">
        <div class="name">{{ drink.name }}</div>
        <div class="ingredients">{{ drink.ingredients }}</div>
        <div class="price">{{ drink.price }}</div>
      </div>
      {% endfor %}
      <!-- Desserts -->
      <h3 class="menu-title">Desserts</h3>
      {% for dessert in desserts %}
      <div class="desserts">
        <div class="name">{{ dessert.name }}</div>
        <div class="ingredients">{{ dessert.ingredients }}</div>
        <div class="price">{{ dessert.price }}</div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %} {% block extra_js %} {% endblock %}
