<!-- Extend the base template -->
{% extends "base.html" %}
<!-- Load the static files -->
{% load static %}
<!-- Load extra css -->
{% block extra_css %}
<link rel="stylesheet" href="{% static 'index/css/index.css' %}" />
<link
  href="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css"
  rel="stylesheet"
/>
{% endblock %}
<!-- Load extra javascript -->
{% block extra_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script>
{% endblock %}
<!-- Add block for content -->
{% block content %}
<div class="container">
  <div class="row empty"></div>
</div>
<div class="container index-container">
  <div class="row">
    <div class="col xl12 l12 m12 s12 center-align">
      <p class="index-heading">Welcome to the greenhouse</p>
    </div>
    <div class="col xl12 l12 m10 s10 push-xl2 push-l1 push-m1 push-s1">
      <div class="fotorama" data-fit="contain">
        <img src="{% static 'images/fotorama/0.jpeg' %}" alt="fotorma img 0" />
        <img src="{% static 'images/fotorama/1.jpg' %}" alt="fotorma img 1" />
        <img src="{% static 'images/fotorama/2.jpg' %}" alt="fotorma img 2" />
        <img src="{% static 'images/fotorama/3.jpg' %}" alt="fotorma img 3" />
        <img src="{% static 'images/fotorama/4.jpg' %}" alt="fotorma img 4" />
        <img src="{% static 'images/fotorama/5.jpg' %}" alt="fotorma img 5" />
        <img src="{% static 'images/fotorama/6.jpg' %}" alt="fotorma img 6" />
        <img src="{% static 'images/fotorama/7.jpg' %}" alt="fotorma img7" />
      </div>
    </div>
  </div>
  <div class="contact-frame center-align">
    <p class="contact-text">Do you need to get in touch with us?</p>
    <a class="contact-link" href="{% url 'contact' %}"
      ><i class="fas fa-envelope"></i
    ></a>
  </div>
</div>
{% endblock %}
