<!-- Extend the base template -->
{% extends "base.html" %}
<!-- Load the static files -->
{% load static %}
<!-- Add block for content -->
{% block content %}
<div id="grid">
  <div id="grid-item">
    <img src="{% static 'images/masonry/9.jpeg' %}" alt="appetizer image" />
  </div>
  <div id="grid-item">
    <img src="{% static 'images/masonry/10.jpeg' %}" alt="appetizer image" />
  </div>
  <div id="grid-item">
    <img src="{% static 'images/masonry/11.jpeg' %}" alt="appetizer image" />
  </div>
  <div id="grid-item">
    <img src="{% static 'images/masonry/12.jpeg' %}" alt="appetizer image" />
  </div>
  <div id="grid-item">
    <img src="{% static 'images/masonry/13.jpeg' %}" alt="appetizer image" />
  </div>
  <div id="grid-item">
    <img src="{% static 'images/masonry/14.jpeg' %}" alt="appetizer image" />
  </div>
  <div id="grid-item">
    <img src="{% static 'images/masonry/15.jpeg' %}" alt="appetizer image" />
  </div>
  <div id="grid-item">
    <img src="{% static 'images/masonry/16.jpeg' %}" alt="appetizer image" />
  </div>
  <div id="grid-item">
    <img src="{% static 'images/masonry/17.jpeg' %}" alt="appetizer image" />
  </div>
  <div id="grid-item">
    <img src="{% static 'images/masonry/18.jpeg' %}" alt="appetizer image" />
  </div>
  <div id="grid-item">
    <img src="{% static 'images/masonry/19.jpeg' %}" alt="appetizer image" />
  </div>
  <div id="grid-item">
    <img src="{% static 'images/masonry/20.jpeg' %}" alt="appetizer image" />
  </div>
  <div id="grid-item">
    <img src="{% static 'images/masonry/21.jpeg' %}" alt="appetizer image" />
  </div>
  <div id="grid-item">
    <img src="{% static 'images/masonry/22.jpeg' %}" alt="appetizer image" />
  </div>
  <div id="grid-item">
    <img src="{% static 'images/masonry/23.jpeg' %}" alt="appetizer image" />
  </div>
  <div id="grid-item">
    <img src="{% static 'images/masonry/24.jpeg' %}" alt="appetizer image" />
  </div>
  <div id="grid-item">
    <img src="{% static 'images/masonry/25.jpeg' %}" alt="appetizer image" />
  </div>
</div>
{% endblock %}
<!-- Javascript for this file -->
{% block extra_js %} {% endblock %}
