.StripeElement,
.stripe-style-input {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 1px solid transparent;
  border-radius: 0px;
  background-color: white;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

/* Make the dropdown list for countries be grayed out by default if no option is selected*/

select,
select option {
  display: inline;
  color: #000000;
}

select:invalid,
select option[value=""] {
  color: #aab7c4 !important;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.stripe-style-input::placeholder {
  color: #aab7c4;
}

.order-summary {
  margin-top: -7px;
}

.charged {
  padding: 10px;
}

.checkout-header {
  padding-bottom: 20px;
}

.confirmation-container {
  background-color: #eaeaea;
  width: 30%;
  border-radius: 30px;
}
