<!-- Extend the base template -->
{% extends "base.html" %}
<!-- Load the static files -->
{% load static %}
<!-- Load extra css -->
{% block extra_css %}
<link rel="stylesheet" href="{% static 'contact/css/contact.css' %}" />
{% endblock %}
<!-- Add block for content -->
{% block content %}
<div class="container">
  <div class="row empty"></div>
</div>
<div class="container contact-container">
  <div class="row">
    <div class="col xl6 l8 m10 s12 push-xl3 push-l1 push-m1">
      <h3 class="contact-heading center-align">Contact Us</h3>
      <p class="contact-text">
        You can contact us below if you have any questions or feedback.
      </p>
      <p class="contact-text">We will usually answer within a few hours.</p>
    </div>
  </div>
  <div class="row">
    <div class="col xl6 l8 m10 s12 push-xl3 push-l1 push-m1">
      <form class="contact-form" action="{% url 'contact' %}" method="POST">
        <!-- prettier-ignore -->
        {% csrf_token %}
        {{ form.as_p }}
        <button
          class="col xl2 l2 m4 s4 push-xl5 push-l5 push-m4 push-s4 waves-effect waves-light btn light-green"
        >
          SEND
        </button>
      </form>
    </div>
  </div>
</div>
<!-- prettier-ignore -->
{% endblock %} 
{% block extra_js %} 
{% endblock %}
