.bag-table {
  padding-top: 75px;
}

.remove-item {
  cursor: pointer;
}

.update-link {
  cursor: pointer;
}

.keep-secure {
  margin-top: 4px;
}

#increment-qty_16 {
  position: absolute;
  visibility: hidden;
  display: none;
}

#decrement-qty_16 {
  position: absolute;
  visibility: hidden;
  display: none;
}
