.bag-table {
  padding-top: 75px;
}

.remove-item {
  cursor: pointer;
}

.update-link {
  cursor: pointer;
}

.tips-text {
  margin: 15px;
}

.tips-input {
  width: 30%;
}

.bag-btn {
  margin-top: 4px;
  margin-bottom: 4px;
}
